# EDA on Google Play Store Apps Dataset ‚Äî Market Trends & Insights
##  complete EDA Analysis form begginer to advance

 Dataset Description:
The Google Play Store Apps dataset offers a comprehensive view of the mobile applications available on the Google Play Store. It captures a snapshot of app information such as user ratings, number of installs, app pricing, category, and content rating. The dataset is useful for analyzing market trends, user behavior, and app popularity, and is widely used in data science projects for cleaning, visualization, and modeling practice.

 Dataset Overview
Total Rows: 10,000+

Columns: 13

Source: Kaggle

Features: App Name, Category, Rating, Reviews, Installs, Price, Type (Free/Paid), Size, etc.

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib . pyplot as plt 
%matplotlib inline

# load the Data_ set 
##### * let's load the csv_file

In [ ]:

df = pd.read_csv(r"C:\Users\aqso\OneDrive\Desktop\projects\googleplaystore.csv")

#### * let look first five rows of data set

In [ ]:
df.head(5)

#### * set option to be  maximum rows and columns

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
# Hide all warnings 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df.columns

In [ ]:
print(f'The number of rows {df.shape[0]}, The number of columns {df.shape[1]}')

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.describe()

# conversion of the string type data into the numerical

- first fill the missing then convert the data type

- find the missing values from the data set

In [ ]:
df.isnull().sum()

- 1. rating (column) is the 1474 missing values 15%  now fill this collumns

In [ ]:
df['Rating'].hist()
plt.show()

- show this fig left skwed not symmetric so fill missing values with median

In [ ]:
df['Rating'].fillna(df['Rating'].median(), inplace=True)

- missing values of Rating (columns ) with median

In [ ]:
df.isnull().sum()

-  Now Type(column) to fill missing values 
-  find the unique values of this column

In [ ]:
df['Type'].unique()

- first replace the ivalid value with nan

In [ ]:
df['Type']= df['Type'].replace('0', np.nan)

- replace missing values with mode

In [ ]:
df['Type'].fillna(df['Type'].mode()[0], inplace=True)

- check  the null value

In [ ]:
df.isnull().sum()

- checking the unique values of Type(column)

In [ ]:
df['Type'].unique()

- Rating column and content rating  column 
- Rating
What it means:
‚≠ê How much users like the app

Type: Numeric (e.g., 4.3, 3.9)

Given by: Users

Use: Measures app quality or satisfaction

üîπ Content Rating
What it means:
üîû What age group the app is suitable for

Type: Category (e.g., Everyone, Teen, Mature 17+)

Given by: Google Play

Use: Shows age-appropriateness of app content

- Remane the content Rating with Age group

In [ ]:
df.rename(columns={'Content Rating': 'Age Group'}, inplace=True)
df.columns

- fill the missing value of Age Group column

In [ ]:
df['Age Group'].unique()

- count the values of Age Group

In [ ]:
df['Age Group'].value_counts(dropna=False)

- now replace the unrated with nan and fill them

In [ ]:
df['Age Group']= df['Age Group'].replace('Unrated', np.nan )

- fill the most occurance values

In [ ]:
df['Age Group'].fillna(df['Age Group'].mode()[0], inplace=True)

In [ ]:
df['Age Group'].isnull().sum()

In [ ]:
df.isnull().sum()

- Current Ver (column) finds its unique values

In [ ]:
df['Current Ver'].unique()

- its  alot of unique values so i decided to drop this 
- inconsistent and hard to analyze)

In [ ]:
df.drop('Current Ver', axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
df['Android Ver'].unique()

In [ ]:
df['Android Ver'].value_counts(dropna=True)

- ‚úîÔ∏è Step 1: Fill all missing values
- ‚úîÔ∏è Step 2: Fix data types (convert into numeric or categorical as needed)
- ‚úîÔ∏è Step 3: Visualize
- ‚úîÔ∏è Step 4: Build ML model

- change the varies with devices to nan 
- fill the nan values

In [ ]:
df['Android Ver']=df['Android Ver']. replace('Varies with device' , np.nan)

In [ ]:
df['Android Ver'].fillna(df['Android Ver'].mode()[0], inplace=True)

In [ ]:
df['Android Ver'].isnull().sum()

- check the missing values of whole data set

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

-------
- first step is completed 
-----

In [ ]:
df['App'].unique()

In [ ]:
df['Size'].unique()

---
###  observation
### 1. M
### 2. K 
### 3. varies with device

###  Finding the Missing values

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df['Reviews'].unique

In [ ]:
df[df['Reviews'].astype(str).str.contains('[MK]')]

- Drop the misleading row form whole column

In [ ]:
df.drop(index=10472, inplace=True)

- now   there is not problem in Reviews columns

In [ ]:
df['Reviews']=df['Reviews'].astype(int)

In [ ]:
print (df['Reviews'])

- successfully convreted the Reveiws (string data type to integer data type )

# size columns conversion into float or int

In [ ]:
df['Size'].unique

- converting the  varies with device to nan

In [ ]:
df['Size']= df['Size'].replace('Varies with device', np.nan)

- usnig function

In [ ]:
def convert_to_bytes(x):
    if pd.isnull(x):
        return np.nan
    x = x.upper().strip()
    if 'M' in x:
        return float(x.replace('M', '')) * 1048576  # 1 MB = 1024 * 1024
    elif 'K' in x:
        return float(x.replace('K', '')) * 1024     # 1 KB = 1024
    else:
        return np.nan

df['Size_bytes'] = df['Size'].apply(convert_to_bytes)

-  rename the size columns with size _bytes

In [ ]:
df.drop(columns=['Size'], inplace= True)
df.rename(columns={'Size_inbytes': 'Size'}, inplace= True)

df.head()

In [ ]:
print(df['Size_bytes'].head())
print(df['Size_bytes'].dtype)       # Should be float64
print(df['Size_bytes'].isnull().sum())  # Should be 0

- fill the null values

In [ ]:
df['Size_bytes'].fillna(df['Size_bytes'].median(), inplace=True)

In [ ]:
df['Size_bytes'].isnull().sum()

In [ ]:
df.columns

- works on installs (columns )

In [ ]:
df['Installs'].unique

- first remove the character (' ' , + )

In [ ]:
df.dtypes

- install is ths float type 
- change into the string 
- remove the + and , 
- then change to the int

In [ ]:
df['Installs'] = df['Installs'].astype(str)  # Convert to string

df['Installs'] = df['Installs'].str.replace('+', '', regex=False)  # Remove '+'
df['Installs'] = df['Installs'].str.replace(',', '', regex=False)  # Remove commas

df['Installs'] = df['Installs'].astype(float)  # Convert to float first

In [ ]:
df['Installs'].isnull().sum()

In [ ]:
df['Installs'] = df['Installs'].fillna(df['Installs'].median())

In [ ]:
df['Installs']= df['Installs'].astype(int)

-  Install columns is clean

In [ ]:
print(df['Installs'])

- price (column )

In [ ]:
print(df['Price'])

In [ ]:
df['Price'].unique()

In [ ]:
df['Price'].value_counts()

In [ ]:
# Convert to string
df['Price'] = df['Price'].astype(str)

# Remove dollar sign (if exists)
df['Price'] = df['Price'].str.replace('$', '', regex=False).str.strip()

# Convert to float
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')  # handles bad entries safely

In [ ]:
print(df['Price'].unique()[:20])      # Should show numbers like 0.0, 4.99, 1.99
print(df['Price'].describe())         # Should show count, mean, min, max

In [ ]:
paid_apps = df[df['Price'] > 0]
print(paid_apps[['App', 'Price']].head())

In [ ]:
df.describe()

In [ ]:
df.head()

- Age group

In [ ]:
df['Age Group'].dtype

- change the data type of Age Group  into category

In [ ]:
df['Age Group']= df['Age Group'].astype('category')

In [ ]:
df['Age Group'].unique()

- Genres

In [ ]:
df['Genres'].dtype

In [ ]:
df['Genres']=df['Genres'].astype('category')

In [ ]:
df['Genres'].unique()

In [ ]:
df['Genres'].dtype

In [ ]:
df.dtypes

In [ ]:
df['Last Updated'].value_counts

- change the data type of the last update from string to date time

In [ ]:
df['Last Updated']= pd.to_datetime(df['Last Updated'],errors='coerce')

- check the unique item

In [ ]:
df['Last Updated'].unique()

- check the data type

In [ ]:
df['Last Updated'].dtype

- Andriod Version change the data type

In [ ]:
print(df['Android Ver'])

- change the data type

In [ ]:
df['Android Ver']= df['Android Ver'].astype('category')

In [ ]:
df['Android Ver'].dtype

In [ ]:
print(df['Android Ver'].value_counts())

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

----
- second step completed 
---

# Third step 
## Visulaization

- category of each app

- Relation between Rating and installs

Situation	Bar Graph Use?
Apps kis category mein zyada hain?	‚úÖ Yes
Paid vs Free apps kitni hain?	‚úÖ Yes
Kis Android version par apps zyada hain?	‚úÖ Yes
Rating aur installs ka relationship kya hai?	‚ùå No (Use scatter plot)
Category-wise average rating kya hai?	‚úÖ

Situation	Use Instead
Two numeric variables	Scatter Plot
Time series data	Line Plot
Distribution (1 numeric column)	Histogram
Box comparison of numeric vs cat	Box Plot

# checking free or paid app count

In [ ]:
df['Type'].value_counts()

# Before ploting the graph first check the duplication

In [ ]:
df.duplicated().sum()

- remove the duplication exact same rows and columns

In [ ]:
print("Before:", df.shape)
df = df.drop_duplicates()
print("After:", df.shape)

- find duplicated App

In [ ]:
df['App'].duplicated().sum()

# Top Categories (Count of Apps per Category)

In [ ]:
plt.figure(figsize=(12,6))
top_category= df['Category'].value_counts().head(10)
sns.barplot(x=top_category.index,y=top_category.values)
plt.xticks(rotation=45)
plt.title("Top 10 app category")
plt.ylabel('Number of app ')
plt.xlabel("category")
plt.show()

# Rating Distribution

In [ ]:
plt.Figure(figsize=(10,5))
sns.histplot(df['Rating'].dropna(), bins=30, kde=True)
plt.title("Distribution of APP Rating  ")
plt.xlabel('Rating')
plt.ylabel("Number of App")
plt.show()

#  Free vs Paid Apps

In [ ]:
plt.Figure(figsize=(6,4))
sns.countplot(x='Type',data=df)
plt.title('Free  vs Paid apps ')
plt.xlabel("App Type")
plt.ylabel("count")
plt.show()

# Installs vs Rating

In [ ]:
plt.Figure(figsize=(10,6))
sns.scatterplot(x='Installs',y='Rating', data=df,alpha=0.5)
plt.xscale('log')
plt.title('Rating vs Installs')
plt.xlabel('Install(log scale)')
plt.ylabel('Rating ')
plt.show()

#  Price Distribution for Paid Apps

In [ ]:
plt.figure(figsize=(10,4))
sns.histplot(df[df['Type']=='Paid']['Price'],bins=40)
plt.title('Price Distribution of Paid Apps')
plt.xlabel("Price")
plt.ylabel("Number of Apps")
plt.show()

# Category-wise Rating & Price Distribution

In [ ]:
top10_categories = df['Category'].value_counts().head(10).index
filtered_df = df[df['Category'].isin(top10_categories)]
plt.figure(figsize=(12,6))
sns.boxplot(x='Category',y='Rating',data=filtered_df)
plt.title('App Rating by category')
plt.show()

# Correlation Matrix (Heatmap)

In [ ]:
plt.figure(figsize=(10,6))
corr = df[['Rating', 'Reviews', 'Installs', 'Price', 'Size_bytes']].corr()
sns.heatmap(corr, annot=True, cmap='coolwarm')
plt.title("Correlation Between Numeric Features")
plt.show()

#  Trend Over Time: Last Updated

In [ ]:
df['Year Updated'] = df['Last Updated'].dt.year
plt.figure(figsize=(10,5))
df['Year Updated'].value_counts().sort_index().plot(kind='bar')
plt.title('Number of Apps Updated Per Year')
plt.xlabel('Year')
plt.ylabel('Number of Apps Updated')
plt.show()

-----
- Third step is completed 
---

- pending (remove OUtliears)
- for ML (train model by this data )